/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */

html {
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* HTML5 媒体文件跟 img 保持一致 */

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/* 去掉各Table  cell 的边距并让其边重合 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/

th {
    text-align: inherit;
}
/* 去除默认边框 */

fieldset, img {
    border: 0;
}
/* ie6 7 8(q) bug 显示为行内表现 */

iframe {
    display: block;
}
/* 去掉 firefox 下此元素的边框 */

abbr, acronym {
    border: 0;
    font-variant: normal;
}
/* 一致的 del 样式 */

del {
    text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var, i, b {
    font-style: normal;
    font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */

ol, ul {
    list-style: none;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */

h1, h2, h3, h4, h5, h6, b {
    font-size: 100%;
    font-weight: 500;
}
q:before, q:after {
    content: '';
}
a {
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:visited, a:hover {
    color: #666;
    text-decoration: none
}
/* 隐藏, 通常用来与 JS 配合 */

body .hide {
    display: none ;
}
body .hide2 {
    visibility: hidden;
}
body .hide3 {
    position: absolute;
    left: -99999px;
    top: -99999px;
}
/******************************************************************************************
 * 基础通用样式
 */

/* 让高度真正100％ */
html {
    height: 100%;
}

body {
    min-height: 100%;
}
/* 默认字体定义 */

html, body, button, input, select, textarea {
    font: 14px/1.5 arial, Microsoft YaHei, \5b8b\4f53;
    color: #333;
}
input, select, textarea {
    font-size: 100%;
}
/* 默认不显示下划线，保持页面简洁 */

ins, a {
    text-decoration: none;
}
/* 清理浮动 */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
    /* for IE6 IE7 */
}
/* 禁止折行/允许折行 */

.nowrap {
    white-space: nowrap;
    word-break: keep-all;
}
.wrap {
    white-space: normal;
    word-break: break-all;
}
/* 溢出隐藏，IE6下需要外容器设置宽度 */

.ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}
/* 公用颜色 */

.c_ba2636,a.c_ba2636:visited,a.c_ba2636:hover{
    color: #ba142b
}
.c_1e50c2,a.c_1e50c2:visited,a.c_1e50c2:hover{
    color: #1e50c2
}
.c_22ac38 {
    color: #22ac38
}
.c_999 {
    color: #999
}