.consoleArea .consolePanel{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}
.consoleArea .panel-body {
    height: 300px;
    background:#2b2b2b;
    position: relative;
    overflow: hidden;
    
}
/*占位*/
.consoleArea .perch {
    height: 342px;
}
/*内容区域*/
.consoleArea .consoleBox{
    min-height: 260px;
    color: #fff;
}
.consoleArea .consoleBox .err {
    color: #c12e2a;
    line-height: 1.5;
}
.consoleBox .info {
    color: #22ac38;
    line-height: 1.5;
}
/*最大化，最小化按钮*/
.consoleArea .console-min,
.consoleArea .console-size,
.consoleArea .console-close,
.consoleArea .console-clear{
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
}
.consoleArea .console-min:hover,
.consoleArea .console-size:hover,
.consoleArea .console-close:hover,
.consoleArea .console-clear:hover{
    cursor: pointer;
    background: #ccc;
}
.consoleArea .minBtn{
    position: fixed;
    bottom: 20%;
    right: 30px;
}
/*最大化，最小化操作*/
.consoleArea.min{

}
.consoleArea.min .consolePanel{
    display: none;
}
.consoleArea.max .consolePanel,
.consoleArea.max .panel-body,
.consoleArea.max .panel-body .consoleBox{
    height: 100%;
}
.consoleArea.max .panel-body .consoleBox{
   /*Firefox*/
    height: -moz-calc(100% - 30px);
    /*chrome safari*/
    height: -webkit-calc(100% - 30px);
    /*Standard */
    height: calc(100% - 30px);
}
